{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>SignUp</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="job_details_area">
    <div class="container">
        {% include "parts/messages.html" %}
        <div class="row">
            <div class="col-lg-12">

                <div class="apply_job_form white-bg">

                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input_field">
                                    {{ form.username.label_tag }}
                                    {{ form.username }}
                                    {{form.username.help_text}}
                                </div>
                            </div>
                            <br><br><br><br><br><br><br><br>
                            <div class="col-md-12">
                                <div class="input_field">
                                    {{ form.email.label_tag }}
                                    {{ form.email }}

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="input_field">
                                    {{ form.password1.label_tag }}
                                    {{ form.password1 }}
                                    {{form.password1.help_text}}
                                </div>
                            </div>
                            <br><br><br><br><br><br><br><br>
                            <div class="col-md-12">
                                <div class="input_field">
                                    {{ form.password2.label_tag }}
                                    {{ form.password2 }}
                                    {{form.password2.help_text}}
                                </div>
                            </div>
                            <br><br><br><br><br><br><br><br>
                            <div class="col-md-12">
                                <div class="submit_btn">
                                    <input type="submit" class="boxed-btn3 w-100" value="Sign up" />

                                </div>
                            </div>



                        </div>
                    </form>


                    <p><a href="{% url 'login' %}">Or LogIn</a></p>





                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
